<div class="welcome-backdrop">
	<div class="ui grid">
		<div class="eight wide column">
		<div class="ui form segment">
			<div class="field">
				<label>Username
				<input type="text" class="" ng-model="user.username" placeholder="Enter username">
				</label>
			</div>
			<div class="field">
				<label>Password
				<input type="password" class="" ng-model="user.password" placeholder="Enter password">
				</label>
			</div>
			<button class="ui button blue">Sign In</button>
		</div>
		</div>
	</div>
</div>